@font-face {
    font-family: 'Cotton Butter';
    src: url(./font/Cotton\ Butter.ttf);
}

@font-face {
    font-family: 'Lean';
    src: url(./font/Lean.otf);
}

.flex_center {

    display: flex;
    justify-content: center;

}

.flex_around {

    display: flex;
    justify-content: space-around;

}

body {

    background-color: #252526;
    color: white;

}

h1 {

    text-align: center;
    font-size: 50px;
    font-family: Lean;

}

.calcul {

    font-size: 40px;
    font-family: Cotton Butter;
    text-align: center;

}

form {

    width: 75%;
    margin: auto;
    text-align: center;

}

h2 {

    text-align: center;

}
 
.for_while {

    width: 50%;
    margin: auto;
    text-align: center;
    
    font-size: 40px;

}

.form_ecole div {

    margin: 0 10px;

}